header
	ul(class="nav")
		li
			a(href="#")
				i(class="fa fa-comments")
				span meeting room
		li
			a(href="#")
				i(class="fa fa-dropbox")
				span build it
		li
			a(href="#")
				i(class="fa fa-list-alt")
				span my tasks