extends layout

block content
	header
		ul(class="nav")
			li
				a(href="#")
					i(class="fa fa-comments")
					|  meeting room
			li
				a(href="#")
					i(class="fa fa-dropbox")
					|  build it
			li
				a(href="#")
					i(class="fa fa-list-alt")
					|  my tasks
	section#main
		div#pageHeader
			h1 Meeting room
			//- Show logged in user
			div#userinfo
				img(src="/img/profile_pictures/andreas.png", width="24px", height="24px")
				span Andreas Ludvigsen
				i(class="fa fa-caret-down")
		div#chat
			div.nano
				ul.content
					li
						div.chatPicture
							a(href="#", class="shadow")
								img(src="/img/profile_pictures/andreas.png", width="60px", height="60px")
						div.chatPost
							span.chatName Andreas Ludvigsen
							span.chatTimestamp  -  Today at 11:20
							p
								| Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
								| <br /><br />
								| Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
					li
						div.chatPicture
							a(href="#", class="shadow")
								img(src="/img/profile_pictures/ragne.png", width="60px", height="60px")
						div.chatPost
							span.chatName Ragne Henriksen
							span.chatTimestamp  -  Today at 11:23
							p
								| Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
					li
						div.chatPicture
							a(href="#", class="shadow")
								img(src="/img/profile_pictures/andreas.png", width="60px", height="60px")
						div.chatPost
							span.chatName Andreas Ludvigsen
							span.chatTimestamp  -  Today at 11:20
							p
								| Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
								| <br /><br />
								| Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
					li
						div.chatPicture
							a(href="#", class="shadow")
								img(src="/img/profile_pictures/ragne.png", width="60px", height="60px")
						div.chatPost
							span.chatName Ragne Henriksen
							span.chatTimestamp  -  Today at 11:23
							p
								| Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
					li
						div.chatPicture
							a(href="#", class="shadow")
								img(src="/img/profile_pictures/andreas.png", width="60px", height="60px")
						div.chatPost
							span.chatName Andreas Ludvigsen
							span.chatTimestamp  -  Today at 11:20
							p
								| Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
								| <br /><br />
								| Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
					li
						div.chatPicture
							a(href="#", class="shadow")
								img(src="/img/profile_pictures/ragne.png", width="60px", height="60px")
						div.chatPost
							span.chatName Ragne Henriksen
							span.chatTimestamp  -  Today at 11:23
							p
								| Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
					li
						div.chatPicture
							a(href="#", class="shadow")
								img(src="/img/profile_pictures/andreas.png", width="60px", height="60px")
						div.chatPost
							span.chatName Andreas Ludvigsen
							span.chatTimestamp  -  Today at 11:20
							p
								| Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
								| <br /><br />
								| Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
					li
						div.chatPicture
							a(href="#", class="shadow")
								img(src="/img/profile_pictures/ragne.png", width="60px", height="60px")
						div.chatPost
							span.chatName Ragne Henriksen
							span.chatTimestamp  -  Today at 11:23
							p
								| Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
					li
						div.chatPicture
							a(href="#", class="shadow")
								img(src="/img/profile_pictures/andreas.png", width="60px", height="60px")
						div.chatPost
							span.chatName Andreas Ludvigsen
							span.chatTimestamp  -  Today at 11:20
							p
								| Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
								| <br /><br />
								| Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
					li
						div.chatPicture
							a(href="#", class="shadow")
								img(src="/img/profile_pictures/ragne.png", width="60px", height="60px")
						div.chatPost
							span.chatName Ragne Henriksen
							span.chatTimestamp  -  Today at 11:23
							p
								| Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
			div#messageBoxContainer
				div.chatPicture
					a(href="#", class="shadow")
						img(src="/img/profile_pictures/andreas.png", width="60px", height="60px")
				div#messageBox
					textarea(rows="3", placeholder="Write your message...")