extends layout
block content
    h1= title

    div#nickWrap
        p Enter a username:
        p#nickError
        form#setNick
            input#nickname(type="text", name="user", class="form-control", style="width:200px;")
            input(type="submit", class="btn")

    div#contentWrap
        div#chatWrap
            ul#chat
            form#send-message
                textarea#message(rows="3", placeholder="Type your msg...")
        ul#users