extends layout
block content
    h1 User List
    ul
        each name, i in names
            li
                p= name.name
    form(name="adduser",method="post",action="/userlist")
        input#inputUserName(type="text",placeholder="username",name="username")
        button(type="submit") submit